// main.less, ssad/ssad_app/ssad_te/style/

@import "config";
@import "color";
@import "reset";

@import "sub";
@import "page";
@import "page_file";
@import "page_editor";
@import "page_edit";
@import "page_config";
@import "page_count";
@import "main_top_bar";
@import "nav";


// global
html, body {
  background-color: @co_bg_default;
  color: @co_text_default;
}

body {
  font-size: @rem_size;
  font-family: @font_default;
}


.ssad_te {
  // TODO
}
