// page_edit_create_task.less, ssad/ssad_app/ssad_todo/style/

.ssad_todo {
  .p_edit_create_task {
    .right_text {
      margin-right: 1.5rem;
    }

    .task_common, .task_oneshot, .task_regular {
      margin: 1rem;
    }

    .select_type, .select_time_base {
      display: flex;
      flex-direction: row;

      > span {
        flex: 1;
      }
    }

    // TODO override bootstrap's theme style
  }
}
