// page_enable_task_list.less, ssad/ssad_app/ssad_todo/style/
.ssad_todo {
  .p_enable_task_list {
    // TODO
  }

  // task_top
  .sub_task_top {
    flex: initial;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: @nav_top_height;
    background-color: @co_bg_nav;
    cursor: default;

    // TODO
    .todo {
      flex: 1;
    }

    .main_menu {
      height: @nav_top_height;
      line-height: @nav_top_height;
      width: @nav_back_width;
      text-align: center;
      cursor: pointer;
      color: @co_text_sec;

      transition-property: background-color;
      transition-duration: @trans_t;
      &:hover {
        background-color: mix(@co_bg_btn_touch, @co_bg_nav, @btn_touch_mix);
        transition-duration: 0s;
      }
    }
  }
}
