// config.less, ssad/ssad_app/ssad_file_list/style/


// default transition time
@trans_t: 250ms;

// rem: default font-size
@rem_size: 24px;

// default font-family
@font_default: monospace;

// TODO
