// config.less, ssad/ssad_app/ssad_file_list/style/


// default transition time
@trans_t: 250ms;

// rem: default font-size
//@rem_size: 24px;  // 24px for desktop
@rem_size: 64px;  // for 1080p Android

// default font-family
@font_default: monospace;
