// main.less, ssad/ssad_app/ssad_file_list/style/

@import "config";
@import "color";
@import "reset";

@import "sub";
@import "file_list";
// TODO support color theme ?


// global
html {
  // TODO
}

body {
  font-size: 16px;
  // TODO
}


.ssad_file_list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  // TODO
}
