// reset.less, ssad/ssad_app/ssad_file_list/style/

html, body {
  margin: 0;
  border-style: none;
  padding: 0;
}

p {
  // TODO
}

ul {
  // TODO
}

li {
  // TODO
}

button {
  // TODO
}

input {
  // TODO
}

// TODO
